{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quantico&family=Rubik+Glitch&display=swap" rel="stylesheet">
  <link 
  id="favicon"
  rel="icon"
  type="image/png"
  href="../static/images/favicon.png"
  sizes="32x32">
  <title>Showcase</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  {% block head %}
  {% endblock %}
</head>
<body>
  <nav>
    <ul>
      <div class='logo'>
        <li><a href="/">Showcase</a></li>
      </div>
      <div class='nav-links'>
        {% if user.is_authenticated %}
          <li><a href="{% url 'show-index' %}">All Shows</a></li>
          <li><a href="{% url 'show-create' %}">Add a Show</a></li>
          <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
          <li><a href="{% url 'home' %}">Login</a></li>
          <li><a href="{% url 'signup' %}">Sign Up</a></li>
        {% endif %}
      </div>
    </ul>
  </nav>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>