body{
  background-color: rgb(248, 236, 199);
}
.show-container {
  margin: 30px auto;
  display: flex;
  width: 80%;
}
.show-img-container{
  display: flex;
  justify-content: center;
}
.show-img-container img{
  width: 300px;
}

.show-details {
  color: rgb(90,61,43);
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.show-details h1 {
  font-size: 30px;
  margin-top: 20px;
}
.genre{
  font-size: 20px;
}
.show-details p {
  font-size: var(--font-m);
  margin: 5px 0;
}

.show-actions{
  margin-top: 50px;
}